.mid-image {
    position: relative;
    width: 100%;
    height: 500px;
}

.mid-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.epicText {
    position: absolute;
    font-size: 85px;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
    max-width: 600px;
    white-space: nowrap;
}