.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#productListLarge {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 70%;
}

.product-item-large {
    width: 400px;
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 100%;
    height: 350px;
    display: block;
    margin: 0;
}

.product-image-small {
    width: 100%;
    height: 200px;
    display: block;
    margin: 0;
}

.product-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.product-title-description {
    font-size: 0.9rem;
}

.product-title {
    font-weight: 600;
}

.product-price {
    font-weight: 600;
    margin-left: 20px;
}

#productListSmall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 70%;
}

.product-item-small {
    width: 200px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clean-default {
    margin-block-start: 5px;
    margin-block-end: 0px;
}

.product-item-small, .product-item-large {
    transition: transform 0.2s ease;
}

.product-item-small:hover {
    transform: scale(1.2);
}

.product-item-large:hover {
    transform: scale(1.12);
}
